* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-data {
  display: flex;
  width: 40%;
  background: #e6bbff;
  justify-content: center;
  margin-top: 50px;
  padding: 10px 12px;
  border-radius: 10px;
  gap: 20px;
}
.name-data p {
  border-right: 2px solid white;
  padding-right: 10px;
  color: rgb(245, 246, 246);
  font-family: "Maven Pro", sans-serif;
}

.todo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  margin-top: 40px;
  width: 400px;
  height: 500px;
  border: 4px solid rgb(235, 167, 249);
  border-radius: 8px;
  padding: 20px;
  overflow-y: scroll;
}
.todo__h2 {
  color: rgb(228, 33, 249);
  font-size: 23px;
  font-family: "Maven Pro", sans-serif;
}
.todo .input-button {
  display: flex;
  align-items: center;
  width: 80%;
  height: 30px;
  margin: 20px auto 0;
  background: #f1dbfe;
  padding: 10px;
  justify-content: center;
  cursor: pointer;
  border: 2px solid rgb(228, 33, 249);
  border-radius: 5px;
  color: rgb(228, 33, 249);
  font-family: "Maven Pro";
  transition: all linear 0.5s;
}
.todo .input-button:hover {
  background: rgb(228, 33, 249);
  color: white;
}
.todo__Tasks {
  text-align: center;
  padding: 18px 0 0px 0;
  font-size: 20px;
  color: rgb(228, 33, 249);
}
.todo__taskDefault {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px auto;
  width: 80%;
  background: #f1dbfe;
  height: 180px;
  border: 3px solid rgb(228, 33, 249);
  border-radius: 5px;
  padding: 10px;
}
.todo__taskDefault--p1 {
  color: rgb(149, 6, 165);
  font-size: 20px;
}
.todo__taskDefault--p2 {
  color: #bf77e9;
}
.todo__task {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto auto;
  width: 80%;
  background: #f1dbfe;
  height: 180px;
  border: 3px solid rgb(228, 33, 249);
  border-radius: 5px;
  padding: 10px;
}
.todo__task--p1 {
  color: rgb(149, 6, 165);
  font-size: 20px;
}
.todo__task--p2 {
  color: #bf77e9;
}
.todo .icon {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.wrapper__modal {
  position: absolute;
  display: flex;
  margin: auto auto;
  z-index: 2;
}

.modal {
  width: 500px;
  background: white;
  border: 2px solid rgb(149, 6, 165);
  border-radius: 5px;
}
.modal .x-solid {
  width: 16px;
}
.modal .addx {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px 0px;
}
.modal .addx__p {
  font-size: 20px;
  font-family: "Maven Pro", sans-serif;
}
.modal .title1 {
  font-size: 15px;
  font-family: "Maven Pro", sans-serif;
  color: grey;
  text-align: center;
}
.modal input {
  width: 80%;
  padding: 5px;
  display: flex;
  margin: 15px auto;
}
.modal .Description {
  height: 150px;
}
.modal .form {
  padding: 40px;
}
.modal__buttonDiv {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.modal__buttonDiv button {
  padding: 5px 22px;
  border-radius: 4px;
  border: transparent;
  color: white;
}
.modal .close_button {
  background: grey;
  border: 2px solid transparent;
  transition: all linear 0.5s;
}
.modal .close_button:hover {
  color: grey;
  border: 2px solid grey;
  background: white;
}
.modal .add_button {
  background: blue;
  border: 2px solid transparent;
  transition: all linear 0.5s;
}
.modal .add_button:hover {
  color: blue;
  background: white;
  border: 2px solid blue;
}

.close_imgDiv {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.close_imgDiv:hover {
  background: rgb(220, 219, 219);
}

.remove {
  display: none;
}

.show {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 116vh;
  background: rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=style.css.map */
